<div class="main-container">
  <div #mainText *ngIf="mainTextVisible" class="main-text">
    {{ shownText }}
  </div>
  <div class="jobs">
      <div class="jobs-list-container">
        <div class="jobs-list">
          <div #jobsHeader class="jobs-header">
            <app-animated-border-button #navigationButton class="header-button">
              <div #jobsHeaderText class="companies-header-class"> Companies I worked for
              </div>
            </app-animated-border-button>
          </div>
          <div *ngFor="let job of jobs; index as i">
            <div class="card">
              <app-job-card [job]="job"></app-job-card>
            </div>
          </div>
        </div>
      </div>
  </div>

  <div class="jobs">
    <div class="jobs-list-container">
      <div class="jobs-list">
        <div #jobsHeader class="jobs-header">
          <app-animated-border-button #navigationButton class="header-button">
            <div #jobsHeaderText class="companies-header-class"> Places where I studied
            </div>
          </app-animated-border-button>
        </div>
        <div *ngFor="let study of studies; index as i">
          <div class="card">
            <app-study-card [study]="study"></app-study-card>
          </div>
        </div>
      </div>
    </div>
</div>

