.vertical-line {
    border-left: 2px solid rgb(153, 205, 233, 0.5);
    height: 50px;
    
  }

.vertical-line-container{
    display: flex;
    justify-content: center;
}


.card{
    display: flex;
    justify-content: center;
}

.jobs-list-container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.jobs-list{
    display: flex;
    align: center;
    flex-direction: column;
    align-content: flex-start;
    justify-content: space-evenly;
    align-items: flex-start;
}
