<div class="main-container" #mainContainer>
  <div *ngIf="mainTextVisible" class="main-text intermediate-text">
  <div #mainText >
    {{ shownText }}
  </div>
  <div #author class="author-class">
    {{ author }}
  </div>
</div>
  <div class="jobs">
    <div class="jobs-list-container">
      <div class="jobs-list">
        <div class="jobs-header header-button companies-header-class">
          <span #jobsHeaderText class="intermediate-text">Companies I worked for</span>
        </div>
        <div class="jobs-icon-container-1">
          <div class="centerer job-name job-description intermediate-text" #jobDescription>
            {{ shownJob.name }}
          </div>
          <div class="jobs-icon-container-2" class="centerer">
            <div *ngFor="let job of jobs; index as i">
              <div class="card">
                <app-job-card
                  class="inner-card"
                  (updateJob)="showJob(job)"
                  (leaveJob)="hideJob()"
                  [job]="job"
                ></app-job-card>
              </div>
            </div>
          </div>
          <div class="centerer job-description" #jobDescription>
            {{ shownJob.description }}
          </div>
        </div>
      </div>
    </div>
  </div>
<!--
  <div class="jobs">
    <div class="jobs-list-container">
      <div class="jobs-list">
        <div class="jobs-header header-button companies-header-class">
          <span #jobsHeaderText class="intermediate-text">Places where I studied</span>
        </div>
        <div *ngFor="let study of studies; index as i">
          <div class="card">
            <app-study-card class="inner-card" [study]="study"></app-study-card>
          </div>
        </div>
      </div>
    </div>
  </div>
  -->
</div>
