<div class="container">
    <div class="company-logo">
        <img #image class="institution-image" [src]="'assets/carreer/companies/images/' + job.name + '.png'" [alt]="job.name + ' image'">
    </div>
    <!--
    <div class="info-container">
        <div class="link"><a [href]="job.link">{{job.name}}</a></div>
        <div class="description">
            {{job.description}}
        </div>
        <div class="data">
            <div class="start">{{job.period.start}}</div>
            <div class="end">{{job.period.end}}</div>
        </div>
    </div>
    -->
</div>