.container{
    height: 10%;
    display: flex;
    margin: 5% 0%;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}

.copy-button{
    width: 14rem;
    margin: 0% 4%;
    height: 2rem;
}