<div class="app-main-container">
  <div class="background">
    <app-background></app-background>
  </div>

  <div *ngIf="headerVisible" class="header">
    <app-animated-border-button
      #navigationButton
      class="header-button"
      (click)="download()"
    >
      <div #downloadCvButtonContainer class="header-element-container">
        {{ downloadCvTextContext.shownText }}
      </div>
    </app-animated-border-button>

    <app-animated-border-button
      #navigationButton
      class="header-button"
      (click)="changePage()"
    >
      <div #navigationButtonContainer class="header-element-container">
        {{ navigationButtonTextContext.shownText }}
      </div>
    </app-animated-border-button>
  </div>

  <div class="" #componentContainer>
    <div
      *ngIf="visible.contactMe"
      class="element-container contact-me-container"
    >
      <app-contact-me #contactMeComponent></app-contact-me>
    </div>
    <div *ngIf="visible.aboutMe" class="element-container">
      <app-about-me
        #aboutMeComponent
        [(initiated)]="initiated"
        (finishedIntro)="finishedIntro()"
      ></app-about-me>
    </div>
  </div>
</div>
