.header{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.header-button{
    font-size: 4rem;
    flex-shrink: 3;
}

.element-container{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.app-main-container{
    display: flex;
    flex-direction: column;
}

