<div class="card">
    <div class="institution-logo">
        <img #image class="institution-image" [src]="'assets/carreer/studies/images/' + study.institution + '.png'" [alt]="study.institution + ' image'">
    </div>
    <!--
    <div class="link"><a [href]="study.link">{{study.name}}</a></div>
    <div class="description">
        {{study.description}}
    </div>
    <div class="data">
        <div class="start">{{study.period.start}}</div>
        <div class="end">{{study.period.end}}</div>
    </div>-->
</div>